form{
    background-color:aliceblue;
    border:2px solid aliceblue;
    padding:50px;
    width:50%;
    
}
form h1, h4 {
    text-align:center;
}
form input{
    border:none;
    border-bottom:2px solid;
    outline: none;
    font-size: medium;
}
form button {
    background-color: blue;
    padding:10px;
    border-radius: 20px;
    width:100px;
    cursor: pointer;
    color: aliceblue;
    font-size:x-large;
}
.btn{
    background-color: #6c757d;
    color: aliceblue;
    padding:10px;
    border-radius: 20px;
    width:100px;
    margin-left: 100px;
    cursor: pointer;
    font-size:x-large;

}
form ::placeholder{
    color:red;
}